- if current_user?
  #user-bar-greeting
    = image_tag current_user.picture_url
    Hi,
    = current_user.name
    %br
    = link_to "log out", logout_path, { :title => "sign out" }
- else
  #user-bar-greeting
    = link_to_function 'sign in', "$('modal-signin').show(); return false;"
